[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

stripe = "*"
sqlalchemy = "*"
"psycopg2" = "*"
python-dateutil = "*"
"boto3" = "*"
smart-open = "*"


[dev-packages]

ipython = "*"
