apiVersion: v1
data:
  redshift-database:
  redshift-endpoint:
  redshift-password:
  redshift-port:
  redshift-user:
  aws-access-key-id:
  aws-secret-access-key:
  aws-default-region:
  stripe-api-key:
kind: Secret
metadata:
  name: stripe-pipeline
type: Opaque

